@model CMS_Brian.Models.Admin.UserResponse.ClsAdministratorResponse
@using CMS_Brian.Models

@{
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<header class="ribbon">
    <h2>&nbsp;</h2>
</header>

<div class="page-content">
    <div class="container-fluid">
        @{Html.RenderPartial("alerts");}
        <div class="kt-portlet kt-portlet--mobile">
            <div class="kt-portlet__head kt-portlet__head--lg breadcrumb-sec">
                <div class="kt-portlet__head-label">
                    <h4>
                        <a href="/Admin/Administrator" class="kt-menu__link ">
                            <i class="kt-menu__link-icon flaticon-network"><span></span></i>
                            <span class="kt-menu__link-text">Administrators</span>
                        </a>
                        <span> > &nbsp; </span>
                    </h4>
                    <h3 class="kt-portlet__head-bred">
                        Details
                    </h3>
                </div>
                <div class="kt-portlet__head-toolbar">
                    <div class="kt-portlet__head-wrapper">
                        <div class="kt-portlet__head-actions">
                            <a href="/admin/Administrator" class="btn btn-brand btn-elevate btn-icon-sm">
                                <i class="la la-step-backward"></i>
                                Back
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="kt-portlet__body">
                <div class="kt-card-profile__details">
                    <div class="row">
                        <div class="col-sm-2">
                            <div class="form-group">
                                <strong><label>First Name : </label></strong>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="form-group">
                                <b> @Model.FirstName</b>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="form-group">
                                <img src="@Model.UserImage" onerror="changeurl(this)" class="kt-card-profile__no-photo" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2">
                            <div class="form-group">
                                <strong><label>Last Name : </label></strong>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="form-group">
                                <b> @Model.LastName</b>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2">
                            <div class="form-group">
                                <strong><label>Phone Number : </label></strong>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="form-group">
                                <b> @Model.PhoneNumber</b>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2">
                            <div class="form-group">
                                <strong><label>Email Address : </label></strong>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="form-group">
                                <b> @Model.EmailId</b>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2">
                            <div class="form-group">
                                <strong><label>Address : </label></strong>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="form-group">
                                <b> @Model.Address</b>
                            </div>
                        </div>
                    </div>
                    @*<div class="row">
                            <div class="col-sm-2">
                                <div class="form-group">
                                    <strong><label>Assign Classes : </label></strong>
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <div class="form-group">
                                    <b> @Model.AssignClasses</b>
                                </div>
                            </div>
                        </div>*@
                    <div class="row">
                        <div class="col-sm-2">
                            <div class="form-group">
                                <strong><label>Available Days : </label></strong>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="form-group">
                                <b> @Model.AvailableDays</b>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container-fluid">
                @{Html.RenderPartial("alerts");}
                <input type="hidden" id="PageView" value="ClassPartialView/?userId=@Model.UserId" />
                <div id="main-content">
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            var url = $("#PageView").val();
            console.log(url);
            admin.LoadHomePartialView(url);
        });
    </script>
}
















