@model IEnumerable<CMS_Brian.Models.Admin.UserResponse.ClsInstructorResponse>

<div class="kt-portlet kt-portlet--mobile">
    <div class="kt-portlet__head kt-portlet__head--lg breadcrumb-sec">
        <div class="kt-portlet__head-label">
            <span class="kt-portlet__head-icon">
                <i class="kt-menu__link-icon flaticon-presentation"></i>
            </span>
            <h3 class="kt-portlet__head-title">
                Instructors List
            </h3>
        </div>
    </div>
    <div class="kt-portlet__body">
        <!--begin: Datatable -->
        <div class="table-responsive">


            <table class="table table-striped- table-bordered table-hover table-checkable datatable InstructorTable" id="InstructorsTable">
                <thead>
                    <tr>
                        <th>
                            Name
                        </th>
                        <th>
                            Address
                        </th>
                        <th>
                            Email
                        </th>
                        <th>
                            Phone Number
                        </th>
                        <th>
                            Available Days
                        </th>
                    </tr>
                </thead>

                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr id="@item.UserId">
                            <td>
                                @item.FirstName  @item.LastName
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Address)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Email)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.PhoneNumber)
                            </td>
                            <td>
                                @item.AvailableDays
                            </td>
                        </tr>
                    }
                </tbody>

            </table>
        </div>
        <!--end: Datatable -->
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        //$('table.InstructorTable').DataTable();
        DataTables.BindDataTable('#InstructorsTable');
    });
</script>


