@model CMS_Brian.Models.Admin.Class.ClsRoster
@{
    ViewBag.Title = "SaveRoster";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<header class="ribbon">
    <h2>&nbsp;</h2>
</header>

<div class="page-content">
    @{Html.RenderPartial("alerts");}

    <div class="row">
        <div class="col-md-12">
            <!--begin::Portlet-->
            <div class="kt-portlet">


                @using (Html.BeginForm())
                {
                    <div class="kt-portlet__head breadcrumb-sec">
                        <div class="kt-portlet__head-label">
                            <h4>
                                <a href="/Admin/Class" class="kt-menu__link ">
                                    <i class="kt-menu__link-icon flaticon-alert-1"><span></span></i>
                                    <span class="kt-menu__link-text">Class</span>
                                </a>
                                <span> > &nbsp; </span>
                                <a href="/Admin/ClassRoster/?ClassId=@Model.ClassId" class="kt-menu__link ">
                                    <span class="kt-menu__link-text">Class Roster List</span>
                                </a>
                                <span> > &nbsp; </span>
                                <span>@Model.ClassName > @Model.ClientName > Edit Roster </span>
                            </h4>
                            <h3 class="kt-portlet__head-bred">
                               
                            </h3>
                        </div>
                        <div class="kt-portlet__head-toolbar">
                            <div class="kt-portlet__head-wrapper">
                                <div class="kt-portlet__head-actions">
                                    <a href="/admin/ClassRoster/?ClassId=@Model.ClassId" class="btn btn-brand btn-elevate btn-icon-sm">
                                        <i class="la la-step-backward"></i>
                                        Back
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="kt-form">
                        <div class="kt-portlet__body">

                            @Html.HiddenFor(model => model.ClassId)
                            @Html.HiddenFor(model => model.ClientId)

                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Select Judge<em>*</em></label>
                                        @Html.DropDownListFor(model => model.JudgeId, new SelectList(ViewBag.JudgeList, "Value", "Text"), new { @class = "form-control required" })
                                        @Html.ValidationMessageFor(model => model.JudgeId, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>StartDate<em>*</em></label>
                                        @Html.EditorFor(model => model.StartDate,new {htmlAttributes = new { @class = "form-control required datepicker-txt", @Value = Model.StartDate != null ?
    Model.StartDate.Value.Date.ToString("MM/dd/yyyy") : null
                                   } })
                                        @Html.ValidationMessageFor(model => model.StartDate, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Note</label>
                                        @Html.TextAreaFor(model => model.Note, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Note, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                               
                            </div>
                        </div>
                    </div>

                    <div class="kt-portlet__foot">
                        <div class="kt-form__actions">
                            <button type="submit" class="btn btn-primary">Submit</button>
                            <button type="reset" class="btn btn-secondary">Cancel</button>
                        </div>
                    </div>
                }
            </div>
            <!--end::Portlet-->
        </div>
    </div>
</div>
@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            common.bindDatepicker();
            $(".datepicker-txt").datepicker({ dateFormat: 'MM/dd/yyyy' });
        });
    </script>
}











